body {
  font-size: .75em;
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(#AF67E9, #6565E7);
  padding: 35px 10px 200px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1D1E35;
  margin: 0;
  height: 100%;
}

button {
  border: none;
  background: #FFF;
  width: 100%;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1em;
}


main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.mobile-img {
  size: 150px;
  z-index: 2;
  position: absolute;
  padding-right: 5%;
}

.box {
  display: none;
}

.card {
  background: #FFF;
  margin-top: 110px;
  padding: 100px 10px 50px 10px;
  width: 85%;
  max-width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  border-radius: 25px;
  background-image: url("../images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 80%;
}

.faq-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  overflow: scroll;
}

.question-section {
  width: 90%;
}

h1 {
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
  padding: 25px 0 0 0;
  margin-bottom: 10px;
  width: 100%;
}

h2 {
  font-weight: 400;
  font-size: 1.125em;
  color: #4A4B5E;
}

h2:hover {
  color: #F47C57;
  cursor: pointer;
}


.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: nowrap;
  padding: 10px 0;
  cursor: pointer;
}

.question i {
  color: #F47C57;
  transform: rotate(180deg);
}

.question-and-answer {
  border-bottom: 1px solid #E7E7E9;
}

p {
  color: #787887;
  font-size: 1.125em;
  margin: 0;
  padding-bottom: 15px;
  line-height: 1.35em;
  width: 90%;
}

/*==== JAVASCRIPT ACTIVE STYLES ====== */


.hide {
  display: none;
}

.question .active {
  font-weight: 700;
  color: #1D1E35;
}

.question i.active {
  transform: rotate(0deg);
  color: #F47C57;
}

/*===============================================

    TABLET STYLES

=================================================*/

@media (min-width: 1024px) {

  .mobile-img {
    display: none;
  }

  .desktop-image-div {
    background-image: url("../images/illustration-woman-online-desktop.svg");
    background-repeat: no-repeat;
    background-position-x: -70px;
    background-position-y: 40px;
    background-size: 395px;
    height: 350px;
  }

  .card {
    width: 65%;
    max-width: 750px;
    justify-content: space-between;
    padding: 25px 40px 50px 0;
    background-image: url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position:left;
    background-position-x: -400px;
    background-size: 92%;
  }

  .faq-wrapper {
    max-height: 400px;
    overflow: scroll;
  }

  .desktop-image-div,
  .faq-wrapper {
    width: 50%;
  }

  .desktop {
    display: flex;
    width: 80%;
    max-width: 925px;
    justify-content: flex-start;
    z-index: 2;
    position: absolute;
  }




  .box {
    position: absolute;
    z-index: 2;
    display: flex;
    width: 130px;
    margin-top: 26em;
  }

}

@media (min-width: 1200px) {


}
